---
title: Agence Poulpe - Bonne année !
---



  <div class="section bg-darkgreen home">
    <div>
      <%= image_tag 'logo.svg' %>
      <h1>2020 in review</h1>
      <%= image_tag 'team-2020.png' %>
    </div>
  </div>
  <div class="section" id="data">
    <div class="cards">
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="829">0</span>
          <p class="">
            heures de supports/maintenance
          </p>
        </div>
        <%= inline_svg('clock') %>
      </div>
      <div class="card">
        <%= inline_svg('bug') %>
        <div>
          <span class="counter-value big-number " data-count="133">0</span>
          <p class="">
            bugs fixés
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="10">0</span>
          <p class="">
            jours en moyenne pour développer une nouvelle feature
          </p>
        </div>
        <%= inline_svg('agenda') %>
      </div>
      <div class="card">
        <%= inline_svg('rocket')%>
        <div>
          <span class="counter-value big-number " data-count="332">0</span>
          <p class="">
            Features développées
          </p>
        </div>
      </div>
      <div class="card">
        <%= inline_svg('webcam') %>
        <div>
          <span class="counter-value big-number " data-count="128">0</span>
          <p class="">
            démo YOÔ DO réalisées
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="2325750">0</span>
          <p class="">
            lignes de code
          </p>
        </div>
        <%= inline_svg('code') %>
      </div>
      <div class="card">
        <%= inline_svg('party')%>
        <div>
          <span class="counter-value big-number " data-count="3">0</span>
          <p class="">
            nouveaux produits démarrés <br> API - EXTENSION - ANALYTICS
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="60">0</span>
          <p class="">
            nouveaux collègues
          </p>
        </div>
        <%= inline_svg('users')%>
      </div>
    </div>
  </div>
  <div class="section text-center team">
    <div class="team-content">
      <h2 class="text-darkgreen">... et 2 nouvelles tentacules</h2>
      <p>qui complètent la team</p>
      <div class="persons">
        <% data.team.each do |person| %>
          <div class="person">
            <%= image_tag person.url %>
            <p><%= person.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="section bg-purple fun-fact text-center">
    <div class="fun-facts-content">
      <h2 class="text-darkgreen">Fun fact : Record de productivité au mois d'avril</h2>
      <p>Le confinement n'a pas eu raison de nous 💪🏻</p>
      <%= image_tag "gif/lockdown.gif" %>
    </div>
  </div>
  <div class="section bg-red">
    <%= partial 'new-year' %>
    <div class="footer">
      <%= link_to "www.poulpe.co", "http://www.poulpe.co/", target: "blank"%>
    </div>
  </div>



<script>
  countUp('#data');
  function countUp(position) {
    var a = 0;
    $(window).scroll(function() {
      var oTop = $(position).offset().top - (window.innerHeight - 100);
      if (a == 0 && $(window).scrollTop() > oTop) {
        $('.counter-value').each(function() {
          var $this = $(this),
            countTo = $this.attr('data-count');
          $({
            countNum: $this.text()
          }).animate({
              countNum: countTo
            },
            {
              duration: 2000,
              easing: 'swing',
              step: function() {
                $this.text(Math.floor(this.countNum));
              },
              complete: function() {
                $this.text(this.countNum);
                //alert('finished');
              }
            });
        });
        a = 1;
      }
    });
  }
</script>

