---
title: Agence Poulpe - Bonne année !
---



  <div class="section bg-blue home">
    <div>
      <%= image_tag 'logo.svg' %>
      <h1>2017 in review</h1>
      <%= image_tag 'team.png' %>
    </div>
  </div>
  <div class="section" id="data">
    <div class="cards">
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="12">0</span>
          <p class="">
            projets propulsés
          </p>
        </div>
        <%= inline_svg('rocket') %>
      </div>
      <div class="card">
        <%= inline_svg('poulpe') %>
        <div>
          <span class="counter-value big-number " data-count="1">0</span>
          <p class="">
            piñata poulpe
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="160">0</span>
          <p class="">
            élèves du Wagon mentorés
          </p>
        </div>
        <%= inline_svg('wagon') %>
      </div>
      <div class="card">
        <%= inline_svg('ginto')%>
        <div>
          <span class="counter-value big-number " data-count="588">0</span>
          <p class="">
            gin tonic
          </p>
        </div>
      </div>
      <div class="card">
        <%= inline_svg('bot') %>
        <div>
          <span class="counter-value big-number " data-count="1">0</span>
          <p class="">
            chatbot
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="325750">0</span>
          <p class="">
            lignes de code
          </p>
        </div>
        <%= inline_svg('code') %>
      </div>
      <div class="card">
        <%= inline_svg('party')%>
        <div>
          <span class="counter-value big-number " data-count="2">0</span>
          <p class="">
            poulpe party
          </p>
        </div>
      </div>
      <div class="card">
        <div>
          <span class="counter-value big-number " data-count="500">0</span>
          <p class="">
            milliers d'utilisateurs touchés
          </p>
        </div>
        <%= inline_svg('users')%>
      </div>
    </div>
  </div>
  <div class="section text-center team">
    <div class="team-content">
      <h2 class="text-orange">... et 3 nouvelles tentacules</h2>
      <p>qui complètent la team</p>
      <div class="persons">
        <% data.team.each do |person| %>
          <div class="person">
            <%= image_tag person.url %>
            <p><%= person.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="section projects">
    <div class="cards">
      <% data.projects.each do |slug, project| %>
        <div class="card">
          <a class="modal-button" data-target="#modal-<%= slug %>">
            <h3><%= project.name %></h3>
          </a>
          <div class="modal" id="modal-<%= slug %>">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <h4><%= project.name %></h4>
                <p><%= project.description %></p>
                <% if project.url %>
                  <%= link_to "Voir le site", project.url, target: "blank"%>
                <% end %>
                <div class="spacer"></div>
                <% project.images.each do |image| %>
                  <%= image_tag image.url %>
                <% end %>
              </div>
            </div>
            <button class="modal-close"></button>
          </div>
          </div>
      <% end %>
    </div>

  </div>
  <div class="section gallery">
    <div class="img-container">
      <% data.images.each do |image| %>
        <div class="img">
          <%= image_tag image.url %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="section bg-red">
    <%= partial 'new-year' %>
  </div>



<script>
  countUp('#data');
  function countUp(position) {
    var a = 0;
    $(window).scroll(function() {
      var oTop = $(position).offset().top - (window.innerHeight - 100);
      if (a == 0 && $(window).scrollTop() > oTop) {
        $('.counter-value').each(function() {
          var $this = $(this),
            countTo = $this.attr('data-count');
          $({
            countNum: $this.text()
          }).animate({
              countNum: countTo
            },
            {
              duration: 2000,
              easing: 'swing',
              step: function() {
                $this.text(Math.floor(this.countNum));
              },
              complete: function() {
                $this.text(this.countNum);
                //alert('finished');
              }
            });
        });
        a = 1;
      }
    });
  }
</script>

